/* honestly, no idea what's going on here. pre has left: -20px set
   somewhere :( */
.remaining-height pre {
    left: inherit;
}

.CodeMirror {
    z-index: 0;
    height: 100%;
    width: 100%;
}

.CodeMirror-scroll {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

/* compensate for navbar height */
.remaining-height {
    height: calc(100% - 41px) !important;
}

.cm-clickable-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.settings.wrapper {
    width: calc(100% - 200px);
    position: absolute;
}

#wrapper {
  padding-left: 200px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -200px;
  left: 200px;
  width: 200px;
  background: #e7e7e7;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}