/* honestly, no idea what's going on here. pre has left: -20px set
   somewhere :( */
.remaining-height pre {
    left: inherit;
}

.CodeMirror {
    z-index: 0;
    height: 100%;
    width: 100%;
}

.CodeMirror-scroll {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

html, body {
    height: 100%;
    width: 100%;
}

/* control height of navbar */
.editor-nav.navbar {
    padding: 0px;
    height: 41px;
    border-radius: 0px;
}

.editor-nav .navbar-form {
    padding: 0px 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.editor-nav .nav > li > a {
    padding-top: 10px;
}

/* compensate for navbar height */
.remaining-height {
    height: calc(100% - 45px) !important;
}

/* center panel styles */

.center-panel {
    z-index: 1;
    right: 20px;
    top: 41px;
    bottom: 0px;
    position: fixed;
    height: 100%;
    border-left: 1px solid #E7E7E7;
    padding: 10px 15px;
    overflow: auto;
}

.center-panel pre {
    padding: 0px;
    margin: 0px;
    background-color: inherit;
    border: 0px;
}

.center-panel accordion pre {
    background-color: #FFFACD !important;
    padding: 6px;
    position: relative;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid #EEE;
}

.center-panel .panel-group {
    width: 97%;
}

.center-panel accordion pre > code, samp {
    font-size: 110% !important;
    color: #35638A;
}

/* east nav */

.east-panel {
    z-index: 100;
    right: 0px;
    top: 41px;
    bottom: 0px;
    position: fixed;
    width: 40px;
    height: 100%;
    border-left: 1px solid #E7E7E7;
    padding: 0px;
    border-top: 0px;
    border-radius: 0px;
}

.east-panel ul > li > a.pane-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    text-align: center;
}

.east-panel ul > li > a:hover {
    color: #FFF;
    background-color: #DDD !important;
}

.east-panel .active, .east-panel .active:hover {
    /* aqua */
    color: #333 !important;
    background-color: #7FDBFF !important;
}
