<md-dialog aria-label="Rename Set: @{{ SetRename.currentSet }}"
           class="set-rename">

  <form name="renameForm">

    <md-dialog-content>
      Please choose a new set name for <code>@{{ SetRename.currentSet }}</code>!
      <md-input-container flex>
        <label>New Set Name</label>
        <input class="rename-input"
               ng-model="SetRename.newSetName"
               name="newSetName"
               required
               valid-set-name>

        <div ng-messages="renameForm.newSetName.$error">
          <div ng-message="required">
            This is required.
          </div>
          <div ng-message="setname">
            Names may only contain <code>A-Z a-z - . _</code>
          </div>
          <div ng-message="setExists">
            The <code>@{{ SetRename.newSetName }}</code> set already exists.
          </div>
        </div>

      </md-input-container>
    </md-dialog-content>

    <div class="md-actions" layout="row">
      <span flex>{{ SetRename.statusMessage }}</span>
      <md-button class="rename-btn"
                 ng-disabled="! renameForm.$valid"
                 ng-click="SetRename.rename()"
                 style="margin-right:20px;">
        Rename
        <i class="fa fa-lg fa-arrow-right"></i>
      </md-button>
    </div>

  </form>
</md-dialog>
