node_modules
/dist
.tmp
.sass-cache
/e2e/new.feature
/domains.json-backup
/app/components/**/*.js
/app/editor/**/*.js
/app/monitor/**/*.js
/app/screenshot/**/*.js
/app/set/**/*.js
/app/app.js
/app/landing/**/*.js
/app/app.css
/app/app.css.map
/backend/rest-routes/sources/phrases.json
