node_modules
/dist
.tmp
.sass-cache
/e2e/new.feature
/app/components/cm-dom-helper/cm-atom-directive.js
/app/editor/codemirror/autocomplete-service/autocomplete-service.js
/app/components/cm-dom-helper/cm-atom-directive_test.js
/app/editor/codemirror/honeydew-mode/feature-mode_test.js
/app/components/autocomplete-service/autocomplete-service.js
/app/components/honeydew-mode/feature-mode.js
/app/components/honeydew-mode/feature-mode_test.js
/app/components/new-file-modal/new-phrase-controller_test.js
/app/components/new-file-modal/new-phrase-controller.js
/app/landing/landing-controller.js
/app/components/feature-mode/feature-mode_test.js
/domains.json-backup
/app/components/jobs/jobs-directive_test.js
/app/components/available-browsers/available-browsers-service_test.js
/app/components/available-browsers/available-browsers-service.js
/app/components/jobs/jobs-directive.js
/app/monitor/monitor-controller.js
/app/components/feature-mode/set-mode_test.js
/app/components/cm-atom/cm-atom-directive.js
/app/components/cm-atom/cm-atom-directive_test.js
/app/components/cm-clickable-link/cm-clickable-link-directive.js
/app/components/cm-clickable-link/cm-clickable-link-directive_test.js
/app/components/filetree/filetree-service_test.js
/app/components/copy-style/copy-style-directive.js
/app/editor/panes/settings/editor-settings-directive.js
/app/editor/editor-controller.js
/app/components/background-status/background-status-directive.js
/app/components/background-status/background-status-factory.js
/app/components/background-status/background-status-directive_test.js
/app/components/filetree/filetree-controller.js
/app/editor/panes/phrase-info/phrase-info-directive.js
/app/editor/panes/phrase-info/phrase-info-directive_test.js
/app/components/preamble-options/preamble-options-constant.js
/app/components/manual-address/manual-address-controller.js
/app/components/manual-address/manual-address-controller_test.js
/app/components/manual-address/manual-address-service.js
/app/components/manual-address/manual-address-service_test.js
/app/components/cm-report-mode/cm-report-mode.js
/app/components/cm-report-mode/cm-report-mode_test.js
/app/components/live-report/live-report-service_test.js
/app/components/live-report/live-report-service.js
/app/components/live-report/live-report-directive_test.js
/app/components/live-report/live-report-directive.js
