<nav class="editor-nav navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- cput sc jira tickets in here ? maybe feature name? -->
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li> -->
        <li class="dropdown file-nav-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span ng-show="doc.isDirty()" class="dirty">*</span>File <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a id="new" ng-click="open('Create New')"><i class="fa fa-fw fa-lg fa-plus-square"></i> New File</a></li>
            <li><a id="new" ng-click="open('Permalink')"><i class="fa fa-fw fa-lg fa-chain"></i> Copy URL</a></li>
            <!-- <li><a id="save" ng-click="save()"><i class="fa fa-fw fa-lg fa-floppy-o"></i> Save</a></li> -->
            <!-- <li><a id="copy" ng-click="open('Copy')"><i class="fa fa-fw fa-lg fa-copy"></i> Make a Copy</a></li> -->
            <!-- <li><a id="move" ng-click="open('Move')"><i class="fa fa-fw fa-lg fa-cut"></i> Move/Rename</a></li> -->
            <li class="divider"></li>
            <li><a id="delete" ng-click="fileActions.Delete()"><i class="fa fa-fw fa-lg fa-trash-o"></i> Delete</a></li>
            <li><a id="undoDelete" ng-show="$storage.undoFile" ng-click="undoDelete()"><i class="fa fa-fw fa-lg fa-trash-o fa-rotate-180"></i> Undo Delete</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left" name="document-options">
        <button
          class="btn btn-hdew"
          popover="Ctrl-Z"
          popover-placement="bottom"
          popover-trigger="mouseenter"
          ng-click="doc.undo()"
          ><i class="fa fa-undo"></i></button>
        <button
          class="btn btn-hdew"
          popover="Ctrl-Y"
          popover-placement="bottom"
          popover-trigger="mouseenter"
          ng-click="doc.redo()"
          ><i class="fa fa-repeat"></i></button>
      </form>

      <job-options jira="doc.jira" control="control" filename={{filename}}></job-options>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
