<div class="manual-address" ng-controller="ManualAddressCtrl as Manual">
  <div ng-if="Manual.status === 'loading'">
    One second, checking if your server is up...
  </div>
  <div>
    <ip-checker status="Manual.status"></ip-checker>
  </div>

  <div class="divider"></div>

  <div class="status-message">
    <div ng-if="Manual.status === true" class="success">
      Looks like everything is okay! Your webdriver server is up and running! Great job!
    </div>
    <div ng-if="Manual.status === false" class="failure">
      <p>Hey, looks like your <a target="_blank" href="http://{{Manual.address()}}:4444/wd/hub">webdriver server</a> isn't running. Double check that it's on - to start it, open a console or a terminal and try</p>

      <p>
        <code>
          > webdriver-manager start
        </code>
      </p>

    </div>
  </div>

  <div class="divider"></div>

  <div>
    <p>To find your ip, you can open a command window or the terminal and try</p>

    <ul>
      <li>
        Windows:
        <code>
          > ipconfig
        </code>
      </li>

      <li>
        <p>OS X: Press the [<kbd>alt</kbd>] key and click on the wifi symbol in the top status bar. </p>
        <p>Or, open a command window and do:

          <code>
            $ ifconfig | grep inet
          </code>
        </p>
      </li>
    </ul>

  </div>

</div>
