<form class="navbar-form jobs" ng-class="{ 'navbar-left': !job.isMonitor }" role="form" name="jobOptions">

  <div class="form-group col-lg-3 col-sm-12" ng-if="job.isMonitor">
    <label class="sr-only" for="set">Set</label>
    <ui-select required
               id="set"
               class="set-select span-one-third"
               ng-model="job.set.name"
               theme="select2">
      <ui-select-match placeholder="Choose a set...">{{ job.set.name }}</ui-select-match>
      <ui-select-choices repeat="set in job.setList | filter: $select.search" >
        <span ng-bind-html="set | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <hostname-picker></hostname-picker>
  </div>

  <div class="form-group">
    <label class="sr-only" for="browser">Browser</label>
    <select class="form-control"
            ng-init="job.$storage.browser = job.$storage.browser ? job.$storage.browser : job.browsers[0]"
            ng-model="job.$storage.browser"
            required
            id="browser"
            ng-options="b for b in job.browsers"
            ng-change="job.updateServers()">
    </select>
  </div>

  <div class="form-group">
    <label class="sr-only" for="server">Server</label>
    <select class="form-control"
            ng-init="job.$storage.server = job.$storage.server ? job.$storage.server : job.servers[0]"
            ng-model="job.$storage.server"
            required
            id="server"
            ng-options="s for s in job.servers">
    </select>
  </div>

  <div class="form-group" ng-if="!job.isMonitor">
    <button ng-if="!job.isFeature"
            ng-click="job.$scope.$emit('job:execute')"
            id="execute"
            class="btn btn-hdew">
      <i class="fa fa-play"></i> F5: execute
    </button>

    <div ng-if="job.isFeature"
         class="btn-group">

      <button ng-if="!job.isKeepOpenMostRecent"
              ng-click="job.$scope.$emit('job:execute')"
              id="execute"
              class="btn btn-hdew">
        <i class="fa fa-play"></i> F5: execute
      </button>

      <button ng-if="job.isKeepOpenMostRecent"
              ng-click="job.$scope.$emit('job:execute', { debug: true })"
              id="keep-open-execute"
              class="btn btn-hdew">
        <i class="fa fa-play"></i> Keep Open
      </button>

      <button type="button"
              class="btn btn-hdew dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>

      <ul class="dropdown-menu">
        <li>
          <a ng-if="job.isKeepOpenMostRecent"
             ng-click="job.$scope.$emit('job:execute')"
             id="execute"
             class="dropdown-item">
            <i class="fa fa-play"></i> F5: execute
          </a>

          <a ng-if="!job.isKeepOpenMostRecent"
             ng-click="job.$scope.$emit('job:execute', { debug: true })"
             id="keep-open-execute"
             class="dropdown-item">
            <i class="fa fa-play"></i> Keep Open
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group" ng-if="job.isMonitor">
    <button ng-click="job.addMonitor()" class="btn btn-hdew" id="add-set">
      <i class="fa fa-plus-square"></i> add
    </button>
  </div>

</form>
