<form class="navbar-form jobs" ng-class="{ 'navbar-left': !job.isMonitor }" role="form" name="jobOptions">

  <div class="form-group col-lg-3 col-sm-12" ng-if="job.isMonitor">
    <label class="sr-only" for="set">Set</label>
    <ui-select required
               id="set"
               class="set-select span-one-third"
               ng-model="job.set.name"
               theme="select2">
      <ui-select-match placeholder="Choose a set...">{{ job.set.name }}</ui-select-match>
      <ui-select-choices repeat="set in job.setList | filter: $select.search" >
        <span ng-bind-html="set | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <hostname-picker></hostname-picker>
  </div>

  <div class="form-group">
    <label class="sr-only" for="browser">Browser</label>
    <select class="form-control"
            ng-init="job.$storage.browser = job.$storage.browser ? job.$storage.browser : job.browsers[0]"
            ng-model="job.$storage.browser"
            required
            id="browser"
            ng-options="b for b in job.browsers"
            ng-change="job.updateServers()">
    </select>
  </div>

  <div class="form-group">
    <label class="sr-only" for="server">Server</label>
    <select class="form-control"
            ng-init="job.$storage.server = job.$storage.server ? job.$storage.server : job.servers[0]"
            ng-model="job.$storage.server"
            required
            id="server"
            ng-options="s for s in job.servers">
    </select>
  </div>

  <div class="form-group" ng-if="!job.isMonitor">
    <button ng-click="job.$scope.$emit('job:execute')"
            id="execute"
            class="btn btn-hdew">
      <i class="fa fa-play"></i> F5: execute
    </button>
  </div>

  <div class="form-group" ng-if="job.isMonitor">
    <button ng-click="job.addMonitor()" class="btn btn-hdew" id="add-set">
      <i class="fa fa-plus-square"></i> add
    </button>
  </div>

</form>
