.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: auto;
    height: 100%;
}

.ngViewport.ng-scope{
    height: auto !important;
}

.ngTopPanel.ng-scope, .ngHeaderContainer{
    width: auto !important;
}

body {
    padding-top: 80px;
}

.monitor-nav {
    padding-top: 15px;
    background-color: honeydew;
}