<div class="monitor-container container" ng-controller="MonitorCtrl as Monitor">
  <site-nav></site-nav>

  <job-options class="row"></job-options>

  <div class="row">

    <form class="form-inline">
      <div class="form-group">
        <div class="col-sm-6">
          <input type="text"
                 class="form-control"
                 ng-model="Monitor.filterOptions.filterText"
                 placeholder='Enter a search query populate the table, search for "set" to see all monitors'
                 ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                 id="filter"/>
          <span class="reset-query">
            <i class="fa fa-times" ng-click="Monitor.resetQuery()"></i>
          </span>
        </div>
      </div>
    </form>
  </div>


  <div class="gridStyle" ng-grid="Monitor.gridOptions"></div>
</div>
