.monitor-container .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: auto;
    height: 100%;
}

.monitor-container .ngViewport.ng-scope{
    height: auto !important;
}

.monitor-container .ngTopPanel.ng-scope, .ngHeaderContainer{
    width: auto !important;
}

.monitor-container .monitor-nav {
    padding-top: 15px;
    background-color: honeydew;
}