@import '_imports';

html, body {
    height: 100%;
    width: 100%;
}

/* add because angular ui bootstrap is slightly different */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

*:after, *:before, * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.btn.btn-bland {
    background: transparent;
}

.btn.btn-bland a:visited {
    color: #333;
}

.btn.btn-bland:hover {
    background-color: #e7e7e7;
}