<nav class="editor-nav navbar navbar-default {{ settings.navClass }}" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li ng-if="!tree.collapse">
        <a ng-click="tree.toggleTree()">
          <i class="fa fa-chevron-left"></i>
        </a>
      </li>
      <li ng-if="tree.collapse">
        <a ng-click="tree.toggleTree()">
          <i class="fa fa-chevron-right"></i>
        </a>
      </li>
    </ul>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav">
        <li class="dropdown file-nav-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span ng-show="doc.isDirty()" class="dirty">*</span>File <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a id="new" ng-click="open('Create New')">
                <i class="fa fa-fw fa-lg fa-plus-square"></i>
                New Feature
              </a>
            </li>
            <li>
              <a id="new" ng-click="open('New Phrase')">
                <i class="fa fa-fw fa-lg fa-plus-square"></i>
                New Phrase
              </a>
            </li>

            <li ng-if="!isSet">
              <a id="copy" ng-click="open('Copy')">
                <i class="fa fa-fw fa-lg fa-copy"></i>
                Copy To...
              </a>
            </li>
            <li ng-if="isSet">
              <a class="copy-set" ng-click="EditorNav.showCopySetModal( $event )">
                <i class="fa fa-fw fa-lg fa-copy"></i>
                Copy Set
              </a>
            </li>

            <li ng-if="!isSet">
              <a id="copy-temp" ng-click="open('CopyTemp')">
                <i class="fa fa-fw fa-lg fa-copy"></i>
                Temporary Copy
              </a>
            </li>

            <li ng-if="!isSet">
              <a id="move" ng-click="open('Move')">
                <i class="fa fa-fw fa-lg fa-cut"></i>
                Move/Rename
              </a>
            </li>
            <li ng-if="isSet">
              <a class="rename-set" ng-click="EditorNav.showRenameSetModal( $event )">
                <i class="fa fa-fw fa-lg fa-cut"></i>
                Move/Rename Set
              </a>
            </li>


            <li>
              <a id="history" target="_blank" ng-href="{{ historyUrl }}">
                <i class="fa fa-fw fa-lg fa-clock-o"></i>
                History
              </a>
            </li>
            <li ng-if="!isSet" class="divider"></li>
            <li ng-if="!isSet">
              <a id="delete" ng-click="fileActions.Delete.cb()">
                <i class="fa fa-fw fa-lg fa-trash-o"></i>
                Delete
              </a>
            </li>
            <li ng-if="!isSet">
              <a id="undoDelete" ng-show="$storage.undoFile" ng-click="undoDelete()">
                <i class="fa fa-fw fa-lg fa-trash-o fa-rotate-180"></i>
                Undo Delete
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <job-options></job-options>

      <site-nav></site-nav>

    </div>
  </div><!-- /.container-fluid -->
</nav>
