.single-report.report .CodeMirror pre {
    padding: 1vw;
}

.single-report.report {
    min-height: 100vh;

    .live-report {
        min-height: 100vh;
    }

    pre {
        @media ( max-width: 550px ) {
            margin-top: 41px;
        }

        height: 100%;
    }

    .report-form {
        z-index: 5;
        position: fixed;
        height: 41px;
        top: 0px;
        right: 2px;
        background-color: white;
    }

    .replace-button {
        float: right;
        margin-top: 2px;
        margin-right: 95px;
    }

    site-nav {
        z-index: 5;
    }
}