<div class="site-nav">

  <!-- It would be cooler if we could do the toggle via css
  breakpoints or something instead of on SiteNav.images, but ... we're
  lazy. -->
  <div ng-if="::!SiteNav.images" class="site-nav-dropdown btn-group nav navbar-nav navbar-right">
    <a href="#/" type="button" class="btn btn-default btn-bland">
      Home
    </a>
    <button type="button"
            class="btn btn-default btn-bland dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>

    <ul class="dropdown-menu">
      <li ng-repeat="link in SiteNav.links">
        <a target="_blank" ng-href="{{ link.url }}">{{ link.title }}</a>
      </li>
      <li class="divider"></li>
      <li>
        <a target="_blank" href="/keywords/index.html">Keywords</a>
      </li>
      <li>
        <a target="_blank" href="https://squash.sharecare.com/">Squash</a>
      </li>
    </ul>
  </div>

  <div class="outbound-links container-fluid" ng-if="::SiteNav.images" >
    <div class="">

      <div ng-repeat="link in SiteNav.links" class="outbound-link col-md-4 col-xs-6">
        <a target="_blank" ng-href="{{ link.url }}">
          <span class="small">{{ link.title }}</span>
          <img class="thumbnail" ng-src="{{ link.image }}" alt="{{ link.title }}">
        </a>
      </div>

    </div>
  </div>

</div>
