.wrapper-collapsed .landing {
    margin-left: 250px;
}

.landing {
    background: white;
    position: fixed;
    max-height: 100%;
    overflow-y: scroll;
    width: calc(100% - 250px);
}

.landing video {
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: auto;
}

.landing .parent {
    padding: 12px;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.landing .outbound-links .col-md-6 div {
    width: 33%;
    margin: 0 auto;
}

.landing .thumbnail {
    width: 145px;
    height: 80px;
}