<div class="landing jumbotron container" ng-controller="LandingCtrl as Landing">
  <div class="row">

    <div class="col-md-6">
      <div class="parent">
        <h3>Common Tasks:</h3>
        <p>
          <ul>
            <li>
              Create a <a class="btn btn-primary btn-lg" ng-click="Landing.openModal()">New Feature File</a> or a <a class="btn btn-primary btn-md" ng-click="Landing.gotoTempFile()">temporary file</a>
            </li>
            <li>
              View the <a target="_blank" href="/dashboard/index.html">Dashboard</a>, or the <a target="_blank" href="/#/monitor">Monitor Setup</a>
            </li>
            <!-- <li>
            View the <a href="#/reports">reports</a>, including <a href="#/reports/current">currently running tests</a>
            </li> -->
          </ul>
        </p>


        <div class="">
          <h3>FAQ:</h3>
          <p>How do I...
            <ul>
              <li>
                <p><a ng-click="Landing.viewGif('feature')" class="btn btn-default" role="button">create new folders?</a> or <a class="btn btn-default" role="button" ng-click="Landing.viewGif('set')">new sets?</a></p>
              </li>
              <li>set up my <a role="button" target="_blank" href="https://gist.github.com/gempesaw/4a317a5076644f263642">Local Honeydew</a> or <a role="button" target="_blank" href="http://appium.io/getting-started.html?lang=en">Appium</a>?
              </li>
              <li>go to the <a href="/old.php">previous editor?</a>
              </li>
            </ul>
          </p>
        </div>

        <div>
          <background-status></background-status>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="parent">
        <h3>Your recent files:</h3>
        <p>
          <span ng-show="!Landing.history.length">You don't have any history items. Browse a few features and come back!</span>
          <ul ng-show="Landing.history.length">
            <li ng-repeat="item in Landing.history">
              <small><a href="#{{ item.href }}">{{ item.label }}</a></small>
            </li>
          </ul>
        </p>
      </div>
    </div>

  </div>

  <div class="row"></div>

</div>
