<div class="landing jumbotron container" ng-controller="LandingCtrl as Landing">
  <div class="row">

    <div class="col-md-6">
      <div class="parent">

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-xs-6">
              <a class="btn btn-hdew btn-md" ng-click="Landing.openModal()">Create New Feature</a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a class="btn btn-hdew btn-md" ng-click="Landing.gotoTempFile()">Temporary Feature</a>
            </div>
          </div>
        </div>

        <site-nav images="true"></site-nav>

        <div class="clearfix"></div>
        <background-status></background-status>

      </div>
    </div>

    <div class="col-md-6">
      <div class="parent">
        <h3>Your recent files:</h3>
        <p class="small">
          <span ng-if="!Landing.history.length">You don't have any history items. Browse a few features and come back!</span>
          <ul ng-if="Landing.history.length">
            <li ng-repeat="item in ::Landing.history">
              <small><a href="#{{ item.href }}">{{ item.label }}</a></small>
            </li>
          </ul>
        </p>
      </div>
    </div>

  </div>

  <div class="row"></div>

</div>
