<div class="landing jumbotron container" ng-controller="LandingCtrl as Landing">
  <div class="row">

    <div class="col-md-6">
      <div class="parent">

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-xs-6">
              <a class="btn btn-hdew btn-md" ng-click="Landing.openModal()">Create New Feature</a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a class="btn btn-hdew btn-md" ng-click="Landing.gotoTempFile()">Temporary Feature</a>
            </div>
          </div>
        </div>

        <div class="outbound-links container-fluid">
          <div class="">
            <div class="col-md-4 col-xs-6">
              <a target="_blank" href="/dashboard/index.html">
                <span class="small">Dashboard</span>
                <img class="thumbnail" src="landing/honeydew-dashboard-sm.png" alt="Dashboard">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a target="_blank" href="/#/monitor">
                <span class="small">Monitor</span>
                <img class="thumbnail" src="landing/honeydew-monitor-sm.png" alt="Monitor Setup">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a target="_blank" ng-href="/#/status">
                <span class="small">EnvStatus</span>
                <img class="thumbnail" src="landing/honeydew-status-sm.png" alt="Environment Statuses">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a target="_blank" href="docs">
                <span class="small">Docs/FAQ</span>
                <img class="thumbnail" src="landing/honeydew-docs-sm.png" alt="Docs & FAQ">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a target="_blank" href="http://qa-166.terminus1.openstack.internal:9191/overview">
                <span class="small">Queues!</span>
                <img class="thumbnail" src="landing/honeydew-queue-sm.png" alt="Nightly Queues">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a target="_blank" href="/old.php">
                <span class="small">Olddew</span>
                <img class="thumbnail" src="landing/honeydew-old-sm.png" alt="Old Honeydew">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a target="_blank" href="/kabocha/dashboard.html">
                <span class="small">Kabocha</span>
                <img class="thumbnail" src="landing/kabocha-dashboard-sm.png" alt="Kabocha">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a target="_blank" href="/kabocha/ratm.html#/assessments">
                <span class="small">RATM</span>
                <img class="thumbnail" src="landing/kabocha-rat-sm.png" alt="Kabocha RAT">
              </a>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <background-status></background-status>

      </div>
    </div>

    <div class="col-md-6">
      <div class="parent">
        <h3>Your recent files:</h3>
        <p>
          <span ng-show="!Landing.history.length">You don't have any history items. Browse a few features and come back!</span>
          <ul ng-show="Landing.history.length">
            <li ng-repeat="item in Landing.history">
              <small><a href="#{{ item.href }}">{{ item.label }}</a></small>
            </li>
          </ul>
        </p>
      </div>
    </div>

  </div>

  <div class="row"></div>

</div>
