.hostname-group button {
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.hostname-group input.hostname.form-control {
    width: 350px;
}

.hostname-group .dropdown-menu {
    width: 720px;
}

.hostname-group .close {
    position: relative;
    left: -6px;
    top: 5px;
}

.btn.btn-hdew {
    background-color: #f0fff0;
    color: #444;
    border: 1px solid #DDD;
}

.navbar-inverse .btn.btn-default {
    background-color: #222;
    border-color: #080808;
    color: #999;
}

.navbar-inverse .btn.btn-default .caret {
    border-top-color: #999;
}

.navbar-inverse ul.dropdown-menu {
    background-color: #222;
    border-color: #080808;
}

.navbar-inverse .dropdown-menu > li > a {
    color: #999;
}

.hostname-group .btn.highlight {
    box-shadow: inset 0 0 0.15em green;
    text-shadow: 0 0 0.75em green;
}

.hostname-group .btn.highlight:hover {
    /* courtesy of clint, pronounced "pank" */
    background-color: pink;
}
