<md-dialog aria-label="{{ ::SetEdit.action | capitalize }} Set: @{{ SetEdit.currentSet }}"
           class="set-edit">

  <form name="setEditForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4>
          {{ ::SetEdit.action | capitalize }} <code>@{{ SetEdit.currentSet }}</code> to...
        </h4>
      </div>
    </md-toolbar>

    <md-dialog-content>
      Please choose a new set name!

      <md-input-container flex>
        <label>New Set Name</label>
        <input class="new-set-name-input"
               ng-model="SetEdit.newSetName"
               name="newSetName"
               required
               valid-set-name>

        <div ng-messages="setEditForm.newSetName.$error">
          <div ng-message="required">
            This is required.
          </div>
          <div ng-message="setname">
            Names may only contain <code>A-Z a-z - . _</code>
          </div>
          <div ng-message="currentset">
            This _is_ the <code>@{{ SetEdit.newSetName }}</code> set.
          </div>
        </div>
      </md-input-container>

      <div ng-if="SetEdit.isExistingSet()" class="merge-warning">
        The <code>@{{ SetEdit.newSetName }}</code> set already
        exists. This will <b>merge</b> these two sets together; are
        you sure?
      </div>

    </md-dialog-content>

    <div class="md-actions" layout="row">
      <span flex>{{ SetEdit.statusMessage }}</span>
      <md-button class="submit-btn"
                 ng-disabled="! setEditForm.$valid"
                 ng-click="SetEdit.doAction()"
                 style="margin-right:20px;">
        {{ ::SetEdit.action }}
        <i class="fa fa-lg fa-arrow-right"></i>
      </md-button>
    </div>

  </form>
</md-dialog>
