.env-status {
    padding-top: 50px;

    table.table {
        text-align: center;
        th {
            text-align: center;
        }

        th {
            color: $silver;
            background-color: $blue;
        }
    }

}
