.env-status {
    padding-bottom: 50px;

    table.table {
        text-align: center;
        th {
            text-align: center;
        }

        th {
            color: $silver;
            background-color: $blue;
        }
    }

    .healthcheck {
        .healthcheck-popover {
            top: -5px;

            ul { list-style: none }
        }
    }
}
