.env-status {
    padding-bottom: 50px;

    table.table {
        text-align: center;
        th {
            text-align: center;
            color: $silver;
            background-color: $blue;
        }

        tr.env-row {
            cursor: pointer;
        }

        tr.env-row:focus {
            outline: 0
        }

        td.env a {
            width: 88px;
        }
    }
}
