<form class="navbar-form navbar-left" role="form" name="jobOptions">
    <div class="form-group col-xs-6">
      <label class="sr-only" for="host">Hostname</label>
      <input type="url" class="form-control" ng-model="$storage.host" required placeholder="http://www.sharecare.com">
    </div>

    <div class="form-group col-xs-5">
      <label class="sr-only" for="browser">Browser</label>
      <select class="form-control" ng-init="$storage.browser = browserList[0]" ng-model="$storage.browser" required ng-options="b.browser group by b.group for b in browserList">
      </select>
    </div>

    <div class="form-group col-xs-1">
      <button type="submit" id="execute" class="btn btn-success" ng-click="control.executeJob()"><i class="fa fa-play"></i> execute!</button>
    </div>
</form>
