<div id="filetree" class="sidebar-wrapper" ng-class="{'slide-left':!tree.collapse}">
  <tabset>
    <tab ng-repeat="tab in tabs"
         heading="{{tab.label}}"
         active="tab.active">

      <div class="set-search input-group">
        <input type="text"
               placeholder="Regex for {{ tab.label | lowercase | limitTo: tab.label.length - 1 }} filenames"
               ng-model="tab.needle"
               class="{{ tab.label }}-search form-control">
        <span class="input-group-addon">
          <span class="fa fa-search"></span>
        </span>
      </div>

      <!-- the is the label of each branch/leaf is the text inside of
        the tree control element. "node" refers to an instance of data
        returned by tree.php -->
      <treecontrol class="tree-classic"
                   tree-model="tab.data"
                   options="treeOptions"
                   selected-node="node1"
                   on-selection="tree.show(node)">
        {{ node.label }}
      </treecontrol>
    </tab>
  </tabset>
</div>

<div ui-view
     id="editor"
     ng-class="{ 'wrapper-collapsed': tree.collapse, 'wrapper-expanded': !tree.collapse, 'animate': animate && tree.collapse}">
</div>
