treecontrol {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: white;
}

treecontrol > ul {
    padding-top: 5px;
}

treecontrol > ul > li {
    padding: 0 0 0 5px;
    line-height: inherit;
}


#sidebar-wrapper {
    margin-left: -200px;
    left: 200px;
    min-width: 200px;
    padding-right: 5px;
    background: #ededed;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}