treecontrol {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: white;
}

treecontrol > ul {
    padding-top: 5px;
}

treecontrol > ul > li {
    padding: 0 0 0 5px;
    line-height: inherit;
}