<div id="filetree" class="sidebar-wrapper" ng-class="{'slide-left':!tree.collapse}">
  <tabset>
    <tab ng-repeat="tab in tabs"
         heading="{{tab.label}}"
         active="tab.active">
      <treecontrol class="tree-classic"
                   tree-model="tab.data"
                   options="treeOptions"
                   order-by="order"
                   selected-node="node1"
                   on-selection="tree.show(node)">
        <!-- this is the label of each branch/leaf. "node" refers to the
        block of data returned by tree.php -->
        {{ node.label }}
      </treecontrol>
    </tab>
  </tabset>
</div>

<div ui-view
     id="editor"
     ng-class="{ 'wrapper-collapsed': tree.collapse, 'wrapper-expanded': !tree.collapse, 'animate': animate && tree.collapse}">
</div>
