<div id="filetree" class="sidebar-wrapper" ng-class="{'slide-left':!tree.collapse}">
  <tabset>
    <tab ng-repeat="tab in tabs"
         heading="{{tab.label}}"
         active="tab.active">

      <div ng-show="tab.label === 'Sets'" class="set-search input-group">
        <input placeholder="Filter sets" type="text" ng-model="tab.needle" class="form-control">
        <span class="input-group-addon">
          <span class="fa fa-search"></span>
        </span>
      </div>
      <treecontrol class="tree-classic"
                   tree-model="tab.data | filter:tab.needle"
                   options="treeOptions"
                   order-by="order"
                   selected-node="node1"
                   on-selection="tree.show(node)">
        <!-- this is the label of each branch/leaf. "node" refers to the
        block of data returned by tree.php -->
        {{ node.label }}
      </treecontrol>
    </tab>
  </tabset>
</div>

<div ui-view
     id="editor"
     ng-class="{ 'wrapper-collapsed': tree.collapse, 'wrapper-expanded': !tree.collapse, 'animate': animate && tree.collapse}">
</div>
