treecontrol {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.428571429;
    color: #333333;
    background-color: white;
    height: 100%;
}

treecontrol > ul {
    padding-top: 5px;
}

treecontrol > ul > li {
    padding: 0 0 0 5px;
    line-height: inherit;
}

div.sidebar-wrapper {
    padding-right: 5px;
    background: rgb(247, 247, 247);
    position: fixed;
    overflow-x: overlay;
    overflow-y: scroll;

    left: 0px;
    min-width: 250px;
    height: 100%;
    /* top: 0px; */
    /* bottom: 0px; */
}

.slide-left {
    left: -250px;
}

#editor.wrapper-collapsed {
    left: -250px;
}

#editor.wrapper-expanded {
    padding-left: 250px;
}

.filetree-expanded {
    left: 250px;
    width: calc(100% - 250px);
}

.filetree-collapsed {
    left: 0px;
    width: 100%;
}

#filetree .search {
    padding: 5px;
    width: 250px;
}

#filetree hr {
    color: #DDD;
}

/* <tabset> gets transcluded into div.tabbable ul.nav-tabs */
.sidebar-wrapper .tabbable .nav-tabs {
    height: 41px;
    border-bottom: 1px solid #e7e7e7;
}