<div class="background-status">
  <h4>Process Status</h4>
  <table>
    <tr ng-repeat="proc in Status.list" class="small">
      <td>
        {{ proc.name }}

        <span ng-if="proc.name === 'your webdriver'" class="small">
          <span class="small">
            (<a ng-href="#/" ng-click="Status.popAddressModal()">fix this</a>?)
          </span>
        </span>
      </td>

      <td>
        <status-button class="fa-small" status="!!proc.status"></status-button>
      </td>
    </li>
  </ul>

</div>
