<div class="background-status">
  <h4>Process Status</h4>

  <span class="small">
    <a class="small" href="http://qa-166.terminus1.openstack.internal:9191/overview">
      ( want to check out the queues ? )
    </a>
  </span>

  <table>
    <tr ng-repeat="proc in Status.list" class="small">
      <td>
        {{ proc.name }}

        <span ng-if="proc.name === 'your webdriver' && ! proc.status" class="small">
          <span class="small">
            (<a href="#" ng-click="Status.popAddressModal()">fix this</a>?)
          </span>
        </span>
      </td>

      <td>
        <span class="label {{ proc.status ? 'green' : 'red' }}">
          {{ proc.status ? 'on' : 'off' }}
        </span>

      </td>
    </li>
  </ul>

</div>
